/Simple Banking System/task/build/
/.gradle/
/gradle/
/Problems/**/out/
/Simple Banking System/task/out/
/.idea/frameworkLessonHistory/
/**/*.iml
/**/*.html
/**/*.txt
/**/*.yaml
/**/*.css
/**/*.bat
/**/*.jar
/**/*.properties
/**/*.xml
/out/
/Simple Banking System/task/src/banking/db/card.s3db
